@media only  screen and (max-width: 768px), 
    screen and (max-height: 1024px) {
        .container {
            grid-template-areas: "sidebar content" "sidebar footer";
            grid-template-rows: 1fr auto;
            grid-template-columns: 225px 1f;
        } /* Untuk Resolusi Layar (misalkan, Ukuran layar Desktop dan Layar Seluler) */
        nav ul {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .sidebar {
            background-color: blue;
            padding-top: 7.5em;
        } /* didalam Resolusi Layar (Sidebar) */
        .hero {
            text-align: left;
            margin: 5.2em 0;
        }
        .hero h1 {
            font-size: 2.25em;
        }
        .hero p{
            width: 60%;
        }
        footer ul {
            max-width: 675px;
            margin: 0 auto;
            padding: 1em 0;
        }
        footer ul li a img {
            width: 20%;
        }
    }