body { /* bagian body */
    margin: 0;
    padding: 0;
} 
div { /* bagian divisi */
    margin: 1px;
    padding: 1px;
    border-top: 1px solid black;
}
footer,header { /* bagian bawa atau hak cipta dan bagian atas */
    background-color:springgreen;
}
.center { /* kelas center (tengah) */
    text-align: center;
}
button { /* bagian tombol */
    font-size: 23px;
    float: left;
}
