section {
    background-color:whitesmoke;
}
* {
    margin: 0;
    padding: 0;
} /* all */
img {
    width: 18%;
    border-radius: 100%;
    border: 2px solid black;
} /* gambar/foto */
.profil {
    background-color: green;
    color: white;
    font-family: Arial;
    padding: 15px;
    margin: 15px;
} /* kelas profil atau bagian profil */
.center {
    display: flex;
    flex: none;
    justify-content: center;
} 
.biodata {
    padding: 8px;
    margin: 1px;
    text-align: center;
} /* kela biodata/bagian biodata */
.cb {
    color: rgb(158, 163, 158);
}
footer {
    text-align: center;
    font-family: 'Times New Roman';
    background-color: green;
    color: white;
    margin: 2px;
    padding: 2px;
    width: 100%;
}
a {
    text-decoration: none;    
}
button {
    font-size: 25px;
    float: left;
}
header div h1 {
    text-align: center;
    width: 100%;
} /*  untuk header,div didala h1(judul) */

/* untuk layar device ukura kecil */
@media screen and (min-width: 450px) {
    img {
        width: 20%;
        border-radius: 100%;
        border: 2px solid black;                        
    }
    button {
        font-size: 15px;
        float: left;
    }
    .profil {
        background-color: green;
        color: white;
        font-family: Arial;
        padding: 8px;
        margin: 8px;
    }   
}
/* Untuk Layar Device Ukuran Sedang */
@media screen and (min-width: 550px) {
    img {
        width: 27%;
        border-radius: 100%;
        border: 2px solid black;                        
    }
}